/* Resetear estilos del navegador */
body, h1, h2, p, form {
  margin: 0;
  padding: 0;
}

/* Estilo del cuerpo de la página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e6f7ff; /* Color de fondo azul claro */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilo del contenedor principal */
.container {
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Estilo del título principal */
h1 {
  text-align: center;
  margin-bottom: 45%;
  color: #333333; /* Color del texto principal */
  font-size: 32px;
}
.recuadro-formulario {
  background-color: rgba(255, 255, 255, 0.6); /* Fondo con transparencia del 40% (rgba) */
  background-image: url("https://github.com/raulcs3/Proyectos-Python/blob/main/Proyecto1/static/img/pattern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}
/* Estilo del formulario */
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

/* Estilo de las etiquetas del formulario */
label {
  display: block;
  margin-bottom: 8px;
  color: #555555; /* Color del texto de las etiquetas */
}

/* Estilo de los campos de entrada */
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo de las casillas de verificación */
input[type="checkbox"] {
  margin-right: 8px;
}

/* Estilo del botón de envío */
input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; /* Color de fondo verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease; /* Efecto de transición */
}

input[type="submit"]:hover {
  background-color: #45a049; /* Color de fondo verde más oscuro en el hover */
}

/* Estilo del texto de la contraseña generada */
p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333333; /* Color del texto */
  background-color: #f9f9f9; /* Color de fondo del cuadro del texto */
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
