/* Resetear estilos del navegador */
body, h1, h2, p, form {
    margin: 0;
    color: #000000;
    padding: 0;
  }
  
  /* Estilo del cuerpo de la página */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #0000000a; /* Color de fondo azul claro */
    display: flex;
    background-image: url(pattern.jpg);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Estilo del contenedor principal */
  .container {
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #65b1dd;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.2);
    margin-top: 20px;
  }
  
  /* Estilo del título principal */
  h1 {
    text-align: center;
    margin-bottom: 45%;
    color: #000000; /* Color del texto principal */
    font-size: 32px;
  }
  
  /* Estilo del formulario */
  form {
    margin-top: 20px;
    opacity: ;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo de las etiquetas del formulario */
  label {
    display: block;
    margin-bottom: 8px;
    color: #000000; /* Color del texto de las etiquetas */
  }
  
  /* Estilo de los campos de entrada */
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilo de las casillas de verificación */
  input[type="checkbox"] {
    margin-right: 8px;
  }
  
  /* Estilo del botón de envío */
  input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000; /* Color de fondo verde */
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Efecto de transición */
  }
  
  input[type="submit"]:hover {
    background-color: #1d72e0; /* Color de fondo verde más oscuro en el hover */
  }
  
  /* Estilo del texto de la contraseña generada */
  p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333333; /* Color del texto */
    background-color: #f9f9f9; /* Color de fondo del cuadro del texto */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
